
*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	
	-webkit-user-select: none;
}
#logo{
	position : fixed;
	z-index:11;
	width:20%;
	top:50px;
	left:105px;
	color:white;
	font-size: 600%;
}
#background_image{
		position : fixed;
	    z-index:1;
	    opacity:0.6;
	    top:0px;
	    left:0px;
}
#background_image img{
	    width: 120%;
	    heigth:130%;
}
.description_collection{
	position:absolute;
	center;
	z-index: 11;
    top:230px;
    left:14%;
    width:70%;
    color:white;
    font-size:200%;
    text-align:center;
    text-transform: uppercase;
}
#slider_elementx4{
	position: absolute;
	z-index: 10;
    top:30%;
    width:99%;
    height:623px;
    overflow: auto;
    overflow-x:hidden;
}

#slider_elementx4 table td img{
	width:230px;
}

#slider_elementx6 {
	position: relative;
	z-index: 10;
    margin-top:20%;

}

#slider_elementx6 table td img{
	width:200px;
}
.box-collection{
	position:relative;
	
}
