*{

	-webkit-user-select: none;
}
#logo{
	position : fixed;
	z-index:11;
	width:20%;
	top:50px;
	left:23%;
	color:white;
	font-size: 600%;
	-webkit-animation: fadeIn 1s;
}

#background_image{
		position : fixed;
	    z-index:1;
	    opacity:0.3;
	    top:0px;
	    left:0px;
}
#background_image img{
		-webkit-animation: fadeIn 0.3s;
	    width: 120%;
	    heigth:100%;
	      
	   -webkit-transform:traslate3d(0,0,0);
}


.description_collection{
	position:absolute;
	center;
	z-index: 11;
    top:600px;
    left:14%;
    width:70%;
    color:white;
    font-size:200%;
    text-align:center;
    font-family:  AmericanGIBT;
    text-shadow: 1px 2px 3px #111111;
}
.box-collection{
	position:relative;
	
}
