 
 #resultView{
 position: absolute;
 top:50px;
right:0px;
left:0px;
 bottom:0px;
 }
 
 #results{
text-align:center;
 -webkit-animation: enterRight 1s;
	background-color:white;
	position: absolute;
	-webkit-overflow-scrolling: touch;
	top:0px;
	right:0px;
	width:270px;
	bottom:0px;
	height: 100%;
	overflow-y: scroll;
	
}
#resultTable{
	
	
}
#results td{
	
	color:black;
	font-size:16px;
	border-bottom:2px solid lightgrey;
	text-align:center;
	height:80px;
	font-style: normal;
}
.resultTitle
{
	font-size:20px;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:2px solid lightgrey;
	font-family: 'DIN_Medium' ;
}
#riepilogo
{
	-webkit-animation: fadeIn 1s;
	position: absolute;
	
	top:0px;
	left:50px;
	width:400px;
}
#riepilogo p{
	color:white;
	font-weight:10;
	font-size:35px;
	font-family: 'DIN_Medium' ;
	line-height:10px;
	right:0px;
	margin-bottom:13px;
	
	
}
.tr_riepilogo{
	
	color: white;
font-size: 18px;
}
